[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.14.0"
psycopg2-binary = "==2.8.5"
alembic = "==1.4.2"
gunicorn = "==20.0.4"
astroid = "==2.4.2"
attrs = "==19.3.0"
chardet = "==4.0.0"
click = "==7.1.2"
iniconfig = "==1.0.1"
isort = "==4.3.21"
itsdangerous = "==2.0.1"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
more-itertools = "==8.4.0"
pluggy = "==0.13.1"
py = "==1.9.0"
pycodestyle = "==2.6.0"
pylint = "==2.5.3"
pylint-flask = "==0.6"
pylint-plugin-utils = "==0.6"
pyparsing = "==2.4.7"
pypugjs = "==5.9.4"
pytest = "==6.0.1"
python-dateutil = "==2.8.1"
python-editor = "==1.0.4"
six = "==1.16.0"
toml = "==0.10.1"
wrapt = "==1.12.1"
Flask = "==2.0.1"
SQLAlchemy = "==1.4.23"
Flask-SQLAlchemy = "==2.5.1"
WTForms = "==2.3.3"
Flask-Login = "==0.5.0"
Flask-Migrate = "==2.5.3"
PyJWT = "==1.7.1"
Flask-Cors = "==3.0.8"
Werkzeug = "==2.0.1"
validate_email = "*"
Faker = "*"
Flask-JWT-Extended = "==3.24.1"
Jinja2 = "==3.0.1"
Mako = "==1.1.3"
MarkupSafe = "==2.0.1"
Flask-WTF = "*"
argcomplete = "==1.11.1"
babelfish = "==0.5.5"
beautifulsoup4 = "==4.9.3"
cachetools = "==4.2.2"
cargo = "==0.3"
certifi = "==2020.12.5"
colorama = "==0.4.4"
docopt = "==0.6.2"
google-auth = "==1.30.1"
google-auth-oauthlib = "==0.4.4"
greenlet = "==1.1.0"
guessit = "==1.0.3"
idna = "==2.10"
moviemon = "==1.0.11"
msgpack = "==1.0.2"
oauthlib = "==3.1.0"
pbr = "==5.5.1"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pynvim = "==0.4.3"
pytz = "==2020.5"
rebound-cli = "==2.1.0"
requests = "==2.25.1"
requests-oauthlib = "==1.3.0"
ricksay = "==0.2.2"
rsa = "==4.7.2"
soupsieve = "==2.2.1"
stevedore = "==3.3.0"
terminaltables = "==3.1.0"
tqdm = "==4.56.0"
tzlocal = "==2.0.0"
urllib3 = "==1.26.3"
urwid = "==2.1.2"
utt = "==1.29"

[dev-packages]
psycopg2-binary = "==2.8.6"

[requires]
python_version = "3.8"
