argcomplete==1.11.1
babelfish==0.5.5
beautifulsoup4==4.9.3
cachetools==4.2.2
cargo==0.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
docopt==0.6.2
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
google-auth==1.30.1
google-auth-oauthlib==0.4.4
greenlet==1.1.0
guessit==1.0.3
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
moviemon==1.0.11
msgpack==1.0.2
oauthlib==3.1.0
pbr==5.5.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pynvim==0.4.3
python-dateutil==2.8.1
pytz==2020.5
rebound-cli==2.1.0
requests==2.25.1
requests-oauthlib==1.3.0
ricksay==0.2.2
rsa==4.7.2
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.23
stevedore==3.3.0
terminaltables==3.1.0
tqdm==4.56.0
tzlocal==2.0.0
urllib3==1.26.3
urwid==2.1.2
utt==1.29
Werkzeug==2.0.1
WTForms==2.3.3
