.homepage {
  display: grid;
  grid-template-columns: 1fr 350px 90px 770px 50px 1fr;
  grid-template-rows: 90px 1fr;
  ;
  grid-template-areas:
    ". . . . . ."
    ". sidebar . feed . ."
  ;

}

.sidebar {
  grid-area: sidebar;
  border: 1px solid red;
}

.posts_container {
  grid-area: feed;
  border: 1px solid black;
  width: 700px;
  height: 700px;
  background-color: #f4eaea;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_pic {
  width: 240px;
}