/* .form_container{

  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5)

} */
.form_name {
	color: #6455A6;
	padding: 8px;
	font-size: 30px;
}

.login_form,
.signup_form,
.profile_form,
.create_post_form,
.create_interest_form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #f4eaea;
	padding: 30px;
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 7px 20px 0 rgba(0, 0, 0, 0.17)
}

.login_form {
	height: 220px;
}

.signup_form {
	height: 300px;
}

.closeBtn {
	color: #6455A6;
	float: right;
	font-size: 30px;
}

.closeBtn:hover {
	color: #B05AAF;
	cursor: pointer;
	font-weight: 600;
}

.test {
	color: #B05AAF;
	color: #ddcaf0f5;
	color: #A6557C;
	color: #875699;
	color: #9b4ab8;
	color: #9082a0;
	color: #6455A6;
	color: #6455A6;
}

.inputs {
	height: 42px;
	width: 258.8px;
	border-radius: 3px;
	background-color: rgb(250, 250, 250);
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'font1';
	color: rgb(38, 38, 38);
	border: 1px solid #ddcaf0f5;
	;
	/* outline-width: 0; */
}

.field_div {
	margin: 12px 0;
	position: relative;
	align-items: center;
	justify-content: flex-end;
	height: 42px;
	width: 258.8px;
	border-radius: 3px;
	/* background-color: rgb(250,250,250); */
	color: rgba(38, 38, 38);
	box-sizing: border-box;
}

.labels:hover {
	cursor: text
}


/* .inputs:focus { */

/* border-color: black; */
/* background:#ddcaf0f5; */
/* } */
/* .show_container {
  position: flex;
  flex-direction: row;
  height: 19.55px;
} */
.show_button {
	right: -209px;
	top: -33px;
	height: 26px;
	border: none;
	color: #6455A6;
	background-color: rgb(250, 250, 250);
	width: 32px;
	font-size: 14px;
	font-family: 'font2';
	position: relative;
	outline-width: 0;
	cursor: pointer;
}

.signup_form ._instead {
	float: right;
	/* margin-bottom: 20px; */
}

.login_form ._instead {
	float: right;
	position: relative;
	top: -50px;
	/* top: -20px; */
	/* margin-bottom: 20px; */
}



@media only screen and (max-width:870px) {
	._instead {
		display: none
	}

}

.button,
.button_editprofile,
.button_login,
.button_demo {
	text-align: center;
	height: 42px;
	font-size: 14px;
	font-weight: 600;
	color: white;
	border-radius: 5px;
	width: 127px;
	box-sizing: border-box;
	border: transparent;
	padding: 10px 20px;
	cursor: pointer;
	white-space: nowrap;
	outline-width: 0;
	background: #B05AAF;
}

.button_editprofile {
	width: 172px;
}

.button_login,
.button_demo {
	margin-top: 15px;
	width: 120px;
}

.button_login {
	width: 120px;
	margin-right: 15px;
}



.backto {
	color: #6455A6;
	/* float: right; */
	font-size: 30px;
}

.backto:hover {
	color: #B05AAF;
	cursor: pointer;
	font-weight: 600;
}