:root {
  --base-grid: 8px;
  --colour-body-background: #9b4ab8;
  --colour-body-background: #B05AAF;
  --colour-body-background: #A6557C;
  --colour-background: #f4eaea;
  --colour-background-stripes: rgba(255,255,255,.5);
  --colour-text: #1a1a1a;
}

.interests *,.interests  :after,.interests  :before {
  box-sizing: border-box;
  margin: 0;
}


.header {
  font-size: calc(var(--base-grid)*4);
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: -.02em;
  align-items: center;
  margin: auto auto;
  display: flex;
}

/* gridlayout */
.interests {
  font-family: 'font2';
  padding: calc(var(--base-grid)*10);
  background-color: var(--colour-body-background);
  margin: calc(var(--base-grid)*2) auto calc(var(--base-grid)*5);
  display: grid;
  grid-row-gap: calc(var(--base-grid)*10);
  grid-column-gap: calc(var(--base-grid)*6);
  grid-template-columns: repeat(auto-fit,minmax(calc(var(--base-grid)*35),1fr));
  justify-items: center;
}

.card {
  cursor: pointer;
  display: block;
  position: relative;
  perspective: 1000px;
}


.button {
  float: right;
  margin: 50px;
  height: 42px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  width: 160px;
  box-sizing: border-box;
  border: transparent;
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  outline-width: 0;
  background-color: #B05AAF;
}

.card:before {
  content: "";
  position: absolute;
  top: calc(var(--base-grid)*-1);
  left: calc(var(--base-grid)*-3);
  border: 2px dashed var(--colour-background);
  background-image: repeating-linear-gradient(-24deg,transparent,transparent 4px,var(--colour-background-stripes) 0, var(--colour-background-stripes) 5px);
  z-index: -1;
}


.card,
.card:before {
  width: calc(var(--base-grid)*35);
  height: calc(var(--base-grid)*15);
}
 
.card_component {
  background-color: var(--colour-body-background);
  border: 2px solid var(--colour-background);
  display: block;
  width: 100%;
  height: 100%;
} 

.closeBtn {
  color: #6455A6;
  float: right;
  font-size: 30px;
}

.closeBtn:hover {
    color: #B05AAF;
    cursor: pointer;
    font-weight: 600;
} 