nav>ul {
	margin: 20px auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 15px;
	height: 75px;
	width: 95%;
	border: 2px solid #A6557C;
	border-radius: 8px;

}

.homeSvg {
	box-sizing: border-box;
	padding: 0 20px;
	position: relative;
	top: 3px;
}

.interestsSvg {
	box-sizing: border-box;
	padding: 0 20px;
	position: relative;
	top: 3px;
}

/* nav> svg {

} */
nav>ul>li {
	display: flex;
	align-items: center;

	list-style: none;
	margin-right: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	/* color: #fff; */
	color: #A6557C;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

}

.dropdown {
	position: fixed;
	border: 2px solid #A6557C;
	border-radius: 8px;
	box-sizing: border-box;
	background: #f4eaea;
	width: 300px;
	right: 2.5%;
	transform: translate(0%, -80%);
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 7px 20px 0 rgba(0, 0, 0, 0.17)

}

.dropdown>ul {
	flex-direction: column;
	display: flex;

	align-items: flex-end;
}

.left {
	width: 400px;
}

.right {
	display: flex;
	flex-direction: row;
	width: 40%;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 15px;
}



.explanation {
	position: relative;
	font-size: 15px;
	font-weight: 400;
}

.views {
	display: flex;
	flex-direction: row;
	width: 200px;
	/* border: 1px solid red; */

}

.buttonHolder:hover {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: #B05AAF;
	cursor: pointer;
}