nav>ul {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 15px;
	width: 95%;
	border: 1px solid red;
}

nav>ul>li {
	display: flex;
	list-style: none;
	margin-right: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

}

.dropdown {
	position: fixed;
	border: 1px solid red;
	width: 200px;


	right: 200px;
}

.left {
	width: 400px;
}

.right {
	display: flex;
	flex-direction: row;
	width: 40%;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 15px;
}

nav>ul>li:hover {
	color: #f00;
}